gulpfile.js
Gruntfile.js
simulator.js
BEFORE PUBLISH.md
.vs
.travis.yml
*.dat
*.dat.tmp
*.bat
*.vspscc
*.njsproj
*.sln
*.vssscc
*.vs
*.Tests
*.suo
*.heapsnapshot
microServiceBus.BizTalk
persist
services
typings
Metadata
coverage
!services/microService.js
!services/sqlCommand.js
obj 
snap
.vscode
package-lock.json
msb-licenses.json